.date-picker {
  flex: 1;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;

  & > div {
    @include from-first(1) {
      flex-grow: 1;
    }
  }

  .MuiInputBase-input {
    font-size: 1rem;
  }

  &--state-fa {
    * {
      font-family: IRANSans;
    }
  }

  &__input {
    &--state-fa {
      input {
        font-family: IRANSans !important;
      }
    }
  }

  &__icon {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 1.65rem;

      @include on-event {
        color: $link-pressed;
      }
    }
  }
}
